$primary-color   : #9356DC;
$secondary-color : #FF79DA;
$tertiary-color  : #99E2D0;

$grey-city        : #ebebeb;
$darken-grey-city : darken(#ebebeb, 35%);
$darken-green     : darken($tertiary-color, 35%);
$fa-font-path     : "../webfonts" !default;

