@font-face {
    font-family: 'Roboto';
    src        : url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    font-weight: normal;
    font-style : normal;
}


@font-face {
    font-family  : 'Shrikhand';
    font-style   : normal;
    font-weight  : 400;
    font-display : swap;
    src          : url(https://fonts.gstatic.com/s/shrikhand/v6/a8IbNovtLWfR7T7bMJwrA4KR.woff2) format('woff2');
}

p {
    font-family: 'Roboto', sans-serif;
    font-size  : 1rem;
    margin     : 0px;
}

h1 {
    font-family: 'Shrikhand', serif;
    font-size  : 2.3rem;
    margin     : 0px;
}

h2 {
    font-family: 'Shrikhand', serif;
    font-size  : 1.6em;
    margin     : 0px;
    font-weight: normal;
    // width      : 85%;
    max-width  : 870px;
    height     : 35px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size  : 1.1em;
    margin     : 0px;
    font-weight: bold;
}
h4{
    font-family: 'Shrikhand', serif;
    font-size  : 1.6em;
    margin-bottom: 0.8em;
}
h5 {
    font-family  : 'Shrikhand', serif;
    font-style   : oblique;
    font-size    : 1.5em;
    font-weight  : 100;
    margin-bottom: 1em;
    
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size  : 1.1em;
}
.bold {
    font-weight: bold;
}

.mail {
    font-family: 'Roboto', sans-serif;
    font-size  : 1rem;
    margin     : 0px;
}

a {
    text-decoration: none;
}