footer {
    width: 100%;
    color: white;
    background-color: #323232;
    padding: 2em 7.5% 2em 7.5%;
    .footer_container {
        p {
            font-family: 'Shrinkhand';
            font-size: 1rem;
            margin: 0em 0em 0.5em 0em;
            margin-bottom: 0.5em;
            .fa-utensils, .fa-hands-helping {
                padding-right: 0.5em;
                font-size: 0.8em;
            }
            
            .fa-utensils{
                padding-right: 0.9em;
            }
        }
        a {
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            margin: 0px;
            color: white;
            .mail{
                font-family: 'Roboto', sans-serif;
                font-size: 1rem;
                margin: 0px;
                color: white;
            }
        }
    } 
}





